<html lang="en">
    <body>
        to get all invites for the server go to: <a href="{{ url_for('getAllInvites') }}">/get-all-invites</a></br>
        to get invite counts for each link go to: <a href="{{ url_for('getInviteStats') }}">/get-invite-stats</a></br>
        to check a specific invite link or set of invite links go to: <a href="{{ url_for('checkInvites') }}">/check-invites</a></br>
        to clear invite links with 0 or 1 invites click this link: <a href="{{ url_for('clearUnusedInvites') }}">/clear-unused-invites-0-1</a></br>
        to clear invite links with 1 or 2 invites click this link: <a href="{{ url_for('clearUnusedInvites2') }}">/clear-unused-invites-2-3</a></br>
    </body>
</html>