<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Check Invites</title>
</head> 

<body>
  <h1 style="color: black">Index</h1>
  <p>You can check the total amount of invites for a discord invite link or group of invite links here.</p>

  <form action="/results" method="POST" id="discordLinkForm" name="discordLinkForm">
    <label for="inputDiscordLinks">Paste your discord links here (make sure each link is on a separate line)</label>
    </br>
    <textarea form="discordLinkForm" rows="30" cols="40" name="discord links" id="discord links"></textarea>
    </br>
    <input type="submit" value="Submit">
  </form>

  

  


</body>

</html>